<html>
  <h1>Hello How are You</h1>
</html>
{% schema %}
{
  "name": "Section name",
  "settings": [
    {
    "type":"text",
     "id":"mohit",
    "label":"Hey How Are You",
    "default":"hey Mohit"
    }
      ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
